<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
          <remove name="PHP74_via_FastCGI" />
          <add name="PHP74_via_FastCGI" path="*.php" verb="GET, COPY, PUT, POST, PATCH, DELETE, HEAD" modules="FastCgiModule" scriptProcessor="D:\Program Files\PHP\v7.4\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Stop processing if direct to azure" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="azurewebsites.net$" negate="false" />
                   </conditions>
                   <action type="None" />
                </rule>
               <rule name="Redirect if not https" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" ignoreCase="true" negate="true" />
                        <add input="{HTTP_CF_VISITOR}" pattern="https" ignoreCase="true" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect if not www" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www\." negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.{HTTP_HOST}{URL}" redirectType="Permanent" />
                </rule>
                <!-- FavIcon rewrites -->
               <rule name="Rewrite Favicon" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="favicon.ico" />
                    <action type="Rewrite" url="/favicons/favicon.ico" appendQueryString="false" />
                </rule>
                 <rule name="Rewrite Apple Touch" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="apple-touch-icon.png" />
                    <action type="Rewrite" url="/favicons/apple-touch-icon.png" appendQueryString="false" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Remove X-Powered-By PHP HTTP response header">
                    <match serverVariable="RESPONSE_X-Powered-By" pattern=".+" ignoreCase="false" />
                    <action type="Rewrite" value="" />
                </rule>
            </outboundRules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".webmanifest" />
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>
        <httpErrors errorMode="Custom">
            <clear />
            <error statusCode="401" responseMode="ExecuteURL" path="/areas/errors/?code=401" />
            <error statusCode="403" responseMode="ExecuteURL" path="/areas/errors/?code=403" />
            <error statusCode="404" responseMode="ExecuteURL" path="/areas/errors/?code=404" />
            <error statusCode="405" responseMode="ExecuteURL" path="/areas/errors/?code=405" />
            <error statusCode="406" responseMode="ExecuteURL" path="/areas/errors/?code=406" />
            <error statusCode="412" responseMode="ExecuteURL" path="/areas/errors/?code=412" />
            <error statusCode="500" responseMode="ExecuteURL" path="/areas/errors/?code=500" />
            <error statusCode="501" responseMode="ExecuteURL" path="/areas/errors/?code=501" />
            <error statusCode="502" responseMode="ExecuteURL" path="/areas/errors/?code=502" />
         </httpErrors>
         <httpProtocol>
            <customHeaders>
               <remove name="X-Powered-By" />
            </customHeaders>
         </httpProtocol>
    </system.webServer>
</configuration>